---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import HomepageHeader from "../components/HomepageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <HomepageHeader slot="header" />
  <section class="h-[120rem]">something</section>
</BaseLayout>
