---

---

<div
  class="p-10 shadow-lg flex flex-col gap-5 mx-auto shadow-gray-400 max-w-xl lg:w-[30rem] bg-white"
>
  <h3 class="font-bold text-xl">Want to learn how you can start flight training and become a pilot?</h3>
  <input
    type="text"
    placeholder="Full name"
    class="px-5 py-4 outline-1 border-gray-300 border outline-gray-400 rounded-full"
  />
  <input
    type="text"
    placeholder="Email"
    class="px-5 py-4 outline-1 border-gray-300 border outline-gray-400 rounded-full"
  />

  <input
    type="text"
    placeholder="Phone"
    class="px-5 py-4 outline-1 border-gray-300 border outline-gray-400 rounded-full"
  />

  <select
    id="course"
    name="course"
    autocomplete="course-name"
    class="px-5 py-4 outline-1 border-gray-300 border outline-gray-400 rounded-full bg-white"
  >
    <option class="text-gray-500">Do you have any pilot experience?</option>
    <option>I haven't started yet and I want to start flying</option>
    <option>I have a few hours, but I haven't solo'd yet</option>
    <option>I working on my private pilot</option>
    <option>I have my private pilot certificate</option>
    <option>I have an instrument rating</option>
    <option>I am a certificated commercial pilot</option>
    <option>I am a certified instructor</option>
    <option>I am a pilot</option>
  </select>

  <!-- <div class="flex gap-3">
    <input
      type="checkbox"
      name="agree-data-collection"
      id="agree-data-collection"
    />

    <label for="agree-data-collection" class="text-gray-500 text-sm">
      I agree to the terms & conditions provided by the company. By providing my
      phone number, I agree to receive text messages from Alto Flight Academy.
    </label>
  </div> -->
  <button
    type="submit"
    class="px-5 py-3 bg-gray-500 text-white font-bold rounded-full hover:bg-red-700 duration-200"
    >START FLYING</button
  >
</div>
