---

---

<div
  class="p-10 shadow-lg flex flex-col gap-5 mx-auto shadow-gray-400 max-w-xl lg:w-[30rem] bg-white"
>
  <h3 class="font-bold text-xl">How to become our student?</h3>
  <input
    type="text"
    placeholder="Your name"
    class="px-5 py-4 outline-1 border-gray-300 border outline-gray-400 rounded-full"
  />
  <input
    type="text"
    placeholder="Your email"
    class="px-5 py-4 outline-1 border-gray-300 border outline-gray-400 rounded-full"
  />

  <select
    id="course"
    name="course"
    autocomplete="course-name"
    class="px-5 py-4 outline-1 border-gray-300 border outline-gray-400 rounded-full bg-white"
  >
    <option class="text-gray-500">Choose your course</option>
    <option>Ground school</option>
    <option>Private pilot</option>
    <option>Instrument rating</option>
    <option>Commercial pilot</option>
    <option>Flight instructor</option>
    <option>Multi-engine rating</option>
    <option>Airline transport pilot</option>
  </select>

  <div class="flex gap-3">
    <input
      type="checkbox"
      name="agree-data-collection"
      id="agree-data-collection"
    />

    <label for="agree-data-collection" class="text-gray-500 text-sm">
      I agree that my submitted data is being collected and stored
    </label>
  </div>
  <button
    type="submit"
    class="px-5 py-3 bg-gray-500 text-white font-bold rounded-full hover:bg-red-700 duration-200"
    >Sign up today</button
  >
</div>
