---
import OpenModalButton from "./OpenModalButton";
import ImageComp from "./ImageComp.astro";
const BOOK_DOWNLOAD_FORM_WEBHOOK_URL = import.meta.env
  .BOOK_DOWNLOAD_FORM_WEBHOOK_URL;
---

<section class="bg-dark-blue text-white flex justify-center">
  <div class="flex flex-col items-center lg:flex-row max-w-7xl py-10">
    <div class="flex flex-col items-center p-5 gap-5 text-center">
      <p class="text-lg">Looking for more information on pilot training?</p>
      <h2 class="text-3xl font-bold text-center tracking-tight">
        Get Your FREE Quick Start Guide!
      </h2>
      <p class="text-lg">
        We have a free booklet which explains everything you need to know for
        your pilot certificate.
      </p>
      <OpenModalButton
        client:visible
        webhook_url={BOOK_DOWNLOAD_FORM_WEBHOOK_URL}
      />
    </div>
    <ImageComp
      imagePath="/src/assets/alto-flight-book-mockup.png"
      imageAlt="Alto Flight Academy Quick Start Guide"
      styles="p-5 h-[250px] md:h-[300px] lg:h-[400px]"
    />
  </div>
</section>
