---
const { value, title, cssVariable } = Astro.props;
---

<div class="flex flex-col py-10 group max-w-48 lg:max-w-72 mx-auto">
  <div
    class="border-r border-white/20 px-10 flex flex-col gap-1 group-last:border-0"
  >
    <span
      class=`counter text-5xl lg:text-7xl font-bold tabular-nums [counter-set:_num_var(${cssVariable})] before:content-[counter(num)]`
      ><span class="sr-only">{value}</span>
    </span>
    <p class="font-semibold lg:text-3xl mt-2 lg:mt-5">{title}</p>
  </div>
</div>

<script>
  const counterObserver = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate-[counter_3s_ease-out_forwards]");
      }
    });
  });

  const counterElements = document.querySelectorAll(".counter");
  counterElements.forEach((element) => {
    counterObserver.observe(element);
  });
</script>
