---
import { Image } from "astro:assets";
import Wall1 from "../assets/wall-of-students-passing-checkride-near-sectional.jpg"
import Wall2 from "../assets/wall-of-students-passing-checkride-by-sectional.jpg"
import Wall3 from "../assets/wall-of-students-passing-checkride.jpg"
---

<section
  class="mb-0 py-12 lg:py-24 sm:py-10 bg-red-700 relative max-w-[80rem] mx-auto lg:mb-20"
  >
  <h2 class="text-center font-semibold px-5 mb-10 sm:mb-32 text-3xl lg:text-5xl text-white">
    Join the thousands of students that have trusted Alto Flight Academy with their pilot training
  </h2>
  <div class="gap-y-24 gap-x-10 px-10 grid place-items-center">
    <Image
      src={Wall1}
      alt="Alto Flight Academy Students after completing checkride"
    />
    <Image
      src={Wall2}
      alt="Alto Flight Academy Students after completing checkride"
    />
    <Image
      src={Wall3}
      alt="Alto Flight Academy Students after completing checkride"
    />
  </div>
</section>